<a [routerLink]="['/coins']"><img alt="back logo" src="../../../assets/back_logo.svg" height="36" width="36"
    class="back_logo" /></a>
<article class="coin">
  <img src={{coin?.image}} alt="Logo of {{coin?.name}}" class="coin__image">
  <div class="coin__price-info">
    <div class="current-price">
      <span class="current-price__text">Current price</span>
      <span class="current-price__number">{{coin?.current_price}} $</span>
    </div>
    <div class="price-change">
      <span class="price-change__text">Price change 24hs</span>
      <span class="price-change__number">{{coin?.price_change_24h}}</span>
    </div>
  </div>
  <h1 class="coin__name">{{coin?.name}}</h1>
  <div class="coin__extended-details">
    <span class="extended-details__market-change">Market Cap Change 24hs: {{coin?.market_cap_change_24h}}</span>
    <span class="extended-details__market-percentage">Market Cap Change 24hs:
      {{coin?.market_cap_change_percentage_24h}}</span>
    <span class="extended-details__supply">Circulating supply: {{coin?.circulating_supply}}</span>
  </div>
  <cr-button [isDisabled]="false" classModifier="buy"><a
      href="https://www.binance.com/en/crypto/buy">Buy</a></cr-button>
</article>
